NODE_ENV=development
PORT=8009

# Kafka
KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_GROUP_ID=notification-service-group
KAFKA_TOPICS=notification.events
# Auth dedicated topics (optional, comma-separated)
KAFKA_AUTH_TOPICS=auth.welcome.email,auth.verification.email,auth.password.reset.email
KAFKA_REPLICATION_FACTOR=1
KAFKA_QR_STORAGE_TOPIC=qr.storage

# Public Service URL for QR links (via API Gateway)
PUBLIC_SERVICE_URL=https://api.metrohcm.io.vn/v1/guest/public

# Resend (Email Provider)
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=no-reply@metrohcm.io.vn
EMAIL_MAX_RETRIES=3

# Vonage (SMS Provider)  
VONAGE_API_KEY=your_vonage_api_key
VONAGE_API_SECRET=your_vonage_api_secret
VONAGE_FROM=Metro

# Postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=notification_db
DB_USER=notification_service
DB_PASSWORD=CHANGE_ME

# Redis (optional)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=CHANGE_ME

# Redis Cache Keys
REDIS_USER_CACHE_KEY_PREFIX=metrohcm:

# Service auth (for / routes if needed)
SERVICE_JWT_SECRET=supersecret

# gRPC Services
TICKET_SERVICE_GRPC_URL=ticket-service:50052
USER_SERVICE_GRPC_URL=user-service:50054

