NODE_ENV=development
PORT=8009

# Kafka
KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=notification-service-group
KAFKA_TOPICS=notification.events
# Auth dedicated topics (optional, comma-separated)
KAFKA_AUTH_TOPICS=auth.welcome.email,auth.verification.email,auth.password.reset.email
KAFKA_REPLICATION_FACTOR=1

# Resend
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM="Metro <no-reply@yourdomain.com>"

# Vonage
VONAGE_API_KEY=your_vonage_api_key
VONAGE_API_SECRET=your_vonage_api_secret
VONAGE_FROM=Metro

# Redis (optional)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

# Service auth (for / routes if needed)
SERVICE_JWT_SECRET=supersecret

