NODE_ENV=production

# gRPC
SCHEDULER_GRPC_PORT=50060
SCHEDULER_TZ=Asia/Ho_Chi_Minh
PORT=8010

# Default demo job
NOOP_CRON=* * * * *

# Ticket service targets
TICKET_GRPC_HOST=ticket-service
TICKET_GRPC_PORT=50052
# Jobs schedule
TICKET_ACTIVATE_CRON=*/5 * * * *
TICKET_ACTIVATE_LIMIT=500
TICKET_EXPIRING_CRON=0 8 * * *
TICKET_EXPIRING_LIMIT=1000



