NODE_ENV=production

# gRPC
SCHEDULER_GRPC_PORT=50060
SCHEDULER_TZ=Asia/Ho_Chi_Minh
PORT=8010

# Default demo job
NOOP_CRON=* * * * *

# Ticket service targets
TICKET_GRPC_HOST=ticket-service
TICKET_GRPC_PORT=50052
# Jobs schedule
TICKET_ACTIVATE_CRON=*/5 * * * *
TICKET_ACTIVATE_LIMIT=500
TICKET_EXPIRING_CRON=0 8 * * *
TICKET_EXPIRING_LIMIT=1000

# OpenTelemetry Tracing Configuration
SERVICE_NAME=scheduler-service
SERVICE_VERSION=1.0.0
JAEGER_ENDPOINT=http://jaeger:14268/api/traces
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
OTEL_TRACES_SAMPLER=traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0



