# Application
PORT=3007
NODE_ENV=development

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=${REDIS_PASSWORD:-redispass123}
REDIS_KEY_PREFIX=${REDIS_KEY_PREFIX:-api_gateway_dev_}

TRANSPORT_GRPC_HOST=transport-service
TRANSPORT_GRPC_PORT=50051

FARE_GRPC_HOST=ticket-service
FARE_GRPC_PORT=50052

# Scheduler
SCHEDULER_ENABLED=true
SCHEDULER_CRON="0 0 * * *"
SCHEDULER_INITIAL_DELAY_MS=30000 