NODE_ENV=production
PORT=8003

#Service JWT
SERVICE_JWT_SECRET=-your-secret-key

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=transport_db    
DB_USER=transport_service
DB_PASSWORD=1

TRANSPORT_GRPC_HOST=transport_service
TRANSPORT_GRPC_PORT=50051


KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_CLIENT_ID=transport_service
KAFKA_BROKERS_INTERNAL=kafka-1:19092,kafka-2:19093,kafka-3:19094