 GNU nano 7.2                                                                              webhook.env                                                                                        
# Server Configuration
PORT=3003
NODE_ENV=production

# PayPal Configuration
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_MODE=sandbox

# Kafka Configuration
KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_CLIENT_ID=webhook
KAFKA_GROUP_ID=webhook-service-group

# Security
ALLOWED_ORIGINS=*

# MongoDB Configuration
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DB_NAME=webhook_db
MONGODB_USER=webhook_user
MONGODB_PASSWORD=

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_KEY_PREFIX=metrohcm:webhook:
REDIS_USER=

# OpenTelemetry Tracing Configuration
SERVICE_NAME=webhook
SERVICE_VERSION=1.0.0
JAEGER_ENDPOINT=http://jaeger:14268/api/traces
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
OTEL_TRACES_SAMPLER=traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0