NODE_ENV=production
PORT=3003

#Service JWT
SERVICE_JWT_SECRET=ad9be0a348b0e7825a2f3487cb27db4779628e0e4d4c2c6bf1375feb80571b56

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ticket_db
DB_USER=ticket_service
DB_PASSWORD=1

# Transport Service gRPC
TRANSPORT_GRPC_URL=
TRANSPORT_GRPC_HOST=transport-service
TRANSPORT_GRPC_PORT=50051

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=${REDIS_PASSWORD:-redispass123}
# Clean tree structure: service:ticket:passenger:{id}
REDIS_KEY_PREFIX=${REDIS_KEY_PREFIX:-service:}

# Kafka
KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_CLIENT_ID=ticket-service
KAFKA_BROKERS_INTERNAL=kafka-1:19092,kafka-2:19093,kafka-3:19094