NODE_ENV=production
PORT=8002

#Service JWT
SERVICE_JWT_SECRET=ad9be0a348b0e7825a2f3487cb27db4779628e0e4d4c2c6bf1375feb80571b56

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=payment_db    
DB_USER=payment_service
DB_PASSWORD=1

TRANSPORT_GRPC_HOST=payment_service

KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_CLIENT_ID=payment_service
KAFKA_BROKERS_INTERNAL=kafka-1:19092,kafka-2:19093,kafka-3:19094

# PayPal Configuration
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_SECRET=your_paypal_secret_here

# VNPay Configuration
VNPAY_TMN_CODE=your_vnpay_tmn_code_here
VNPAY_SECRET=your_vnpay_secret_here
VNPAY_HOST=https://sandbox.vnpayment.vn
VNPAY_TEST_MODE=true
VNPAY_HASH_ALGO=SHA512
VNPAY_ENABLE_LOG=true