NODE_ENV=production
PORT=3001

#Service JWT
SERVICE_JWT_SECRET=ad9be0a348b0e7825a2f3487cb27db4779628e0e4d4c2c6bf1375feb80571b56
DEFAULT_ADMIN_USER_ID=00000000-0000-0000-0000-000000000001
# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=user_db
DB_USER=user_service
DB_PASSWORD=userpass

KAFKA_BROKERS=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_CLIENT_ID=user-service
KAFKA_BROKERS_INTERNAL=kafka-1:19092,kafka-2:19093,kafka-3:19094
KAFKA_GROUP_ID=user-service-group
USER_CREATED_TOPIC=user.created
USER_DELETED_TOPIC=user.deleted
PASSENGER_DELETED_TOPIC=passenger.deleted
STAFF_DELETED_TOPIC=staff.deleted
