PORT=3000
NODE_ENV=development


#email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=metrosystem365@gmail.com
EMAIL_PASS=djbmwwzmglbsqjgp
EMAIL_FROM_NAME=Metro System
EMAIL_FROM=metrosystem365@gmail.com